# ---------------------------
# 🌐 SERVER CONFIGURATION
# ---------------------------
PORT = 8888
DB_URL = mongodb_uri
NODE_ENV = production

# ---------------------------
# 🔐 JWT AUTHENTICATION
# ---------------------------
JWT_ACCESS_SECRET = 
JWT_ACCESS_SECRET_EXPIRES_IN=
JWT_REFRESH_SECRET  = 
TWT_REFRESH_SECRET_EXPIRES_IN = 

# ---------------------------
# 🔑 PASSWORD ENCRYPTION
# ---------------------------
BCRYPT_SALT_ROUND = 

# ---------------------------
# 👑 SUPER ADMIN / ADMIN ACCOUNT
# ---------------------------
SUPER_ADMIN_EMAIL = 
SUPER_ADMIN_PASSWORD = 

ADMIN_EMAIL =
ADMIN_PASSWORD = 

# ---------------------------
# ⚡ REDIS CONFIGURATION -- tuhinphotos0@gmail.com by google login
# ---------------------------
REDIS_USER = default
REDIS_PASSWORD = 
REDIS_PORT = 
REDIS_HOST = 

# ---------------------------
# 🔐 GOOGLE AUTHENTICATION
# ---------------------------
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL = 

# ---------------------------
# 📧 GMAIL SMTP (MAIL SENDER)
# ---------------------------
SMTP_PASS = 
SMTP_USER =
SMTP_FROM = 
SMTP_HOST =

# ---------------------------
# 🧩 EXPRESS SESSION
# ---------------------------
EXPRESS_SESSION_SECRET = 

# ---------------------------
# 🌍 FRONTEND URL
# ---------------------------
FRONTEND_BASE_URL = http://localhost:5173

# ---------------------------
# 🍪 COOKIE NAMES
# ---------------------------
ACCESS_COOKIE_NAME = 
REFRESH_COOKIE_NAME =



# ---------------------------
# ☁️ CLOUDINARY CONFIGURATION
# ---------------------------
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET = 
CLOUDINARY_URL = 



# ---------------------------
# 🧮 OSRM CONFIGURATION
# ---------------------------
OSRM_BASE_URL =

# ---------------------------
# 💳 STRIPE CONFIGURATION
# ---------------------------

STRIPE_SECRET_KEY = 
STRIPE_PUBLISHABLE_KEY = 
STRIPE_DEFAULT_CURRENCY = eur
STRIPE_WEBHOOK_SECRET =  
STRIPE_API_VERSION = 2025-11-17.clover

